html {
    background-color: antiquewhite;
}

p {
    text-align: center;
    color: blue;
}

img source {
    text-align: center;
}

img {
    height: auto;
    width: 200px;
}

h1 {
    color: brown;
    font-weight: 600;
    font-style: Georgia, 'Times New Roman', Times, serif;
}


h2 {
    color: rgb(4, 115, 129);
    text-align: center;
}

h3 {
    text-decoration: underline;
    color: rgb(184, 82, 9);
    text-align: center;
}

li a {
    color: blue;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredients {
    color: red;
    font-size: 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}